.common-detail {
  background: #f7f8fa;
}
.common-detail .main-top {
  padding: 0px 24px 0;
  background-color: #fff;
}
.common-detail .br {
  width: 100%;
  height: 16px;
  background: #f7f8fa;
}
.common-detail h2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.common-detail h2 .name {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #1f2229;
  display: flex;
  align-items: center;
}
.common-detail h2 .name .n {
  padding-right: 8px;
}
.common-detail h2 .button-group .ant-btn + .ant-btn {
  margin-left: 8px;
}
.common-detail .content .content-item {
  display: flex;
}
.common-detail .content .content-item + .content-item {
  padding-top: 12px;
}
.common-detail .content .content-item .block {
  width: calc(100% / 3);
  display: flex;
  font-weight: 400;
  font-size: 14px;
}
.common-detail .content .content-item .block .label {
  text-align: left;
  padding-right: 8px;
  color: #454852;
  width: 96px;
}
.common-detail .content .content-item .block .value {
  color: #83878f;
}
.common-detail .tabs-section {
  background-color: #fff;
  padding-top: 16px;
  text-align: left;
}
.common-detail .tabs-section .ant-tabs {
  padding: 0 24px;
}
.common-detail .tabs-section .ant-tabs-bar {
  border-bottom: 0;
}
.common-detail .main-section {
  margin: 16px 24px 24px;
}
.common-detail .main-section .table-common-detail {
  padding: 16px 20px 24px;
  background-color: #fff;
}
.common-detail .main-section .cache-charts-section {
  padding: 20px 24px;
}
.common-detail .main-section .cache-charts-section .sign-r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.common-detail .main-section .cache-charts-section .sign-r .ant-calendar-picker {
  width: 240px;
}
.common-detail .main-section .cache-charts-section .sign-r .ant-input {
  border-radius: 0;
}
.common-detail .main-section .cache-charts-section .sign-r .re-load {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #83878f;
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  cursor: pointer;
}
.common-detail .ant-tabs-bar {
  margin: 0;
}
.common-detail .ant-tabs-ink-bar {
  bottom: 2px;
}
.yu-common-form-style .ant-alert {
  margin-bottom: 14px;
}
.yu-common-form-style .node-input-item {
  display: flex;
  align-items: center;
}
.yu-common-form-style .node-input-item .ant-input {
  width: 60px;
}
.yu-common-form-style .node-input-item .text {
  padding-left: 4px;
  font-size: 14px;
}
.yu-common-form-style .form-tree-section-4 {
  width: 100%;
}
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-header > table,
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-body > table,
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-fixed-left table,
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-fixed-right table {
  border-left: 0;
  border-right: 0;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section-inner {
  display: flex;
  border: 1px solid #dcdfe6;
}
.yu-common-form-style .form-tree-section-4 h2 {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #1f2229;
}
.yu-common-form-style .form-tree-section-4 h2 span {
  font-weight: 500;
}
.yu-common-form-style .form-tree-section-4 .tree-left {
  width: 220px;
  border-right: 1px solid #dcdfe6;
}
.yu-common-form-style .form-tree-section-4 .tree-right {
  width: calc(100% - 220px);
}
.yu-common-form-style .form-tree-section-4 .tree-right .storage-select-item .ant-select {
  width: 100%;
}
.yu-common-form-style .form-tree-section-4 .tree-right .cache-input {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form-tree-section-4 .tree-right .cache-input i {
  padding-left: 4px;
}
.yu-common-form-style .form-tree-section-4 .ant-tree {
  min-height: 220px;
  padding-left: 14px;
}
.yu-common-form-style .ant-form-item-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.yu-common-form-style .footer-button-group {
  padding-top: 30px;
}
.yu-common-form-style .footer-button-group .ant-btn {
  margin-right: 8px;
}
.yu-common-form-style .status-slot {
  display: flex;
  align-items: center;
}
.yu-common-form-style .status-slot .name {
  padding-left: 8px;
}
.yu-common-form-style .status-slot i {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.yu-common-form-style .form2 .set-item {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form2 .set-item + .set-item {
  padding-top: 14px;
}
.yu-common-form-style .form2 .set-item .ant-input {
  width: 140px;
}
.yu-common-form-style .form2 .set-item .ant-btn {
  margin-left: 14px;
}
.yu-common-form-style .form2 .set-item .label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #454852;
  width: 135px;
}
.yu-common-form-style .form2 .set-item1 .ant-input {
  width: 166px;
}
.yu-common-form-style .form2 .table-section {
  padding-top: 20px;
}
.yu-common-form-style .form2 .table-section .add-button {
  height: 32px;
  border: 1px dotted #dcdfe6;
  width: 100%;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #454852;
  margin-top: 8px;
}
.yu-common-form-style .form2 .table-section .add-button .title {
  padding-left: 6px;
}
.yu-common-form-style .form2 .host-item-slot {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form2 .host-item-slot .ant-input {
  margin-right: 4px;
}
