#app .main-container {
  min-height: 100%;
  position: relative;
  background: #f7f8fa;
}
#app .sidebar-container {
  width: 216px;
  background: #fff;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-footer {
  display: none;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-content {
  border-radius: 0;
  box-shadow: 0px 16px 48px 16px rgba(0, 0, 0, 0.03), 0px 12px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-header {
  height: 32px;
  background: #2f2f34;
  color: #fff;
  border-bottom: 0;
  border-radius: 0;
  padding: 0;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-header .ant-modal-title {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  line-height: 32px;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-header .ant-modal-title img {
  height: 100%;
}
.ant-modal-wrap.yu-modal-contanier-active .yu-modal-title {
  display: flex;
}
.ant-modal-wrap.yu-modal-contanier-active .yu-modal-title span {
  background: #d93934;
  padding-left: 20px;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-close-x {
  width: 24px;
  height: 24px;
  background: #3e3f43;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-close {
  top: 4px;
  right: 20px;
}
.ant-modal-wrap.yu-modal-contanier-active .ant-modal-footer {
  padding: 0 20px 20px 0;
  text-align: right;
  background: transparent;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-content {
  border-radius: 0;
  box-shadow: 0px 16px 48px 16px rgba(0, 0, 0, 0.03), 0px 12px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-header {
  height: 32px;
  background: #2f2f34;
  color: #fff;
  border-bottom: 0;
  border-radius: 0;
  padding: 0;
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-header .ant-modal-title {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  line-height: 32px;
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-header .ant-modal-title img {
  height: 100%;
}
.ant-modal-wrap.yu-modal-contanier .yu-modal-title {
  display: flex;
}
.ant-modal-wrap.yu-modal-contanier .yu-modal-title span {
  background: #d93934;
  padding-left: 20px;
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-close-x {
  width: 24px;
  height: 24px;
  background: #3e3f43;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-close {
  top: 4px;
  right: 20px;
}
.ant-modal-wrap.yu-modal-contanier .ant-modal-footer {
  padding: 0 20px 20px 0;
  text-align: right;
  background: transparent;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.ant-table-thead > tr > th {
  background: #f2f5fa !important;
}
.yu-row-color {
  background: #f7f9fc !important;
}
.ant-btn {
  border-radius: 0;
}
.ant-table-placeholder {
  z-index: 0;
}
.ant-form-item-label > label {
  color: #454852;
  font-weight: 400;
}
.ant-select-selection {
  border-radius: 0px !important;
}
.ant-input {
  border-radius: 0px !important;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.common-detail {
  background: #f7f8fa;
}
.common-detail .main-top {
  padding: 0px 24px 0;
  background-color: #fff;
}
.common-detail .br {
  width: 100%;
  height: 16px;
  background: #f7f8fa;
}
.common-detail h2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.common-detail h2 .name {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #1f2229;
  display: flex;
  align-items: center;
}
.common-detail h2 .name .n {
  padding-right: 8px;
}
.common-detail h2 .button-group .ant-btn + .ant-btn {
  margin-left: 8px;
}
.common-detail .content .content-item {
  display: flex;
}
.common-detail .content .content-item + .content-item {
  padding-top: 12px;
}
.common-detail .content .content-item .block {
  width: calc(100% / 3);
  display: flex;
  font-weight: 400;
  font-size: 14px;
}
.common-detail .content .content-item .block .label {
  text-align: left;
  padding-right: 8px;
  color: #454852;
  width: 96px;
}
.common-detail .content .content-item .block .value {
  color: #83878f;
}
.common-detail .tabs-section {
  background-color: #fff;
  padding-top: 16px;
  text-align: left;
}
.common-detail .tabs-section .ant-tabs {
  padding: 0 24px;
}
.common-detail .tabs-section .ant-tabs-bar {
  border-bottom: 0;
}
.common-detail .main-section {
  margin: 16px 24px 24px;
}
.common-detail .main-section .table-common-detail {
  padding: 16px 20px 24px;
  background-color: #fff;
}
.common-detail .main-section .cache-charts-section {
  padding: 20px 24px;
}
.common-detail .main-section .cache-charts-section .sign-r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.common-detail .main-section .cache-charts-section .sign-r .ant-calendar-picker {
  width: 240px;
}
.common-detail .main-section .cache-charts-section .sign-r .ant-input {
  border-radius: 0;
}
.common-detail .main-section .cache-charts-section .sign-r .re-load {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #83878f;
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  cursor: pointer;
}
.common-detail .ant-tabs-bar {
  margin: 0;
}
.common-detail .ant-tabs-ink-bar {
  bottom: 2px;
}
.yu-common-form-style .ant-alert {
  margin-bottom: 14px;
}
.yu-common-form-style .form-tree-section-4 .node-input-item {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form-tree-section-4 .node-input-item .ant-input {
  width: 60px;
}
.yu-common-form-style .form-tree-section-4 .node-input-item .text {
  padding-left: 4px;
  font-size: 14px;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section {
  width: 100%;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .form-tree-section-inner {
  display: flex;
  border: 1px solid #dcdfe6;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section h2 {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #1f2229;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section h2 span {
  font-weight: 500;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .tree-left {
  width: 220px;
  border-right: 1px solid #dcdfe6;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .tree-right {
  width: calc(100% - 220px);
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .tree-right .storage-select-item .ant-select {
  width: 100%;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .tree-right .cache-input {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .tree-right .cache-input i {
  padding-left: 4px;
}
.yu-common-form-style .form-tree-section-4 .form-tree-section .ant-tree {
  min-height: 220px;
  padding-left: 14px;
}
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-header > table,
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-body > table,
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-fixed-left table,
.yu-common-form-style .form-tree-section-4 .ant-table-bordered .ant-table-fixed-right table {
  border-left: 0;
  border-right: 0;
}
.yu-common-form-style .ant-form-item-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.yu-common-form-style .footer-button-group {
  padding-top: 30px;
}
.yu-common-form-style .footer-button-group .ant-btn {
  margin-right: 8px;
}
.yu-common-form-style .status-slot {
  display: flex;
  align-items: center;
}
.yu-common-form-style .status-slot .name {
  padding-left: 8px;
}
.yu-common-form-style .status-slot i {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.yu-common-form-style .form2 .set-item {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form2 .set-item + .set-item {
  padding-top: 14px;
}
.yu-common-form-style .form2 .set-item .ant-input {
  width: 140px;
}
.yu-common-form-style .form2 .set-item .ant-btn {
  margin-left: 14px;
}
.yu-common-form-style .form2 .set-item .label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #454852;
  width: 135px;
}
.yu-common-form-style .form2 .set-item1 .ant-input {
  width: 166px;
}
.yu-common-form-style .form2 .table-section {
  padding-top: 20px;
}
.yu-common-form-style .form2 .table-section .add-button {
  height: 32px;
  border: 1px dotted #dcdfe6;
  width: 100%;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #454852;
  margin-top: 8px;
}
.yu-common-form-style .form2 .table-section .add-button .title {
  padding-left: 6px;
}
.yu-common-form-style .form2 .host-item-slot {
  display: flex;
  align-items: center;
}
.yu-common-form-style .form2 .host-item-slot .ant-input {
  margin-right: 4px;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
label {
  font-weight: 700;
}
html {
  height: 100%;
  box-sizing: border-box;
}
#app {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.no-padding {
  padding: 0px !important;
}
.padding-content {
  padding: 4px 0;
}
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
div:focus {
  outline: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.pr-5 {
  padding-right: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.block {
  display: block;
}
.pointer {
  cursor: pointer;
}
.inlineBlock {
  display: block;
}
.table-common-button-group {
  display: flex;
  align-items: center;
}
.table-common-button-group .spacing {
  width: 1px;
  height: 8px;
  background: #ebeef5;
  margin: 0 8px;
}
.yu-is-always-shadow {
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
}
.yu-tree-contanier .svg-icon {
  width: 16px;
  height: 16px;
}
.yu-common-button {
  background: #fafbfc !important;
  border: 1px solid #dcdfe6 !important;
  color: #454852 !important;
}
.yu-common-button:hover {
  background: #ffffff !important;
  border: 1px solid #83878f !important;
  color: #454852 !important;
}
.yu-common-button:focus {
  color: #e6655c !important;
  background-color: #fff !important;
  border-color: #e6655c !important;
}
.yu-table-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yu-table-header-section .ant-btn + .ant-btn {
  margin-left: 14px;
}
.yu-table-header-section .header-right {
  display: flex;
  align-items: center;
}
.yu-table-header-section .header-right .header-search {
  padding-right: 8px;
}
